{% extends 'blog/base.html' %}
{% load static %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>project details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- philosophy part css start -->
    <section class="philosophy_part project_details section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5 col-md-6">
                    <div class="philophy_img">
                        <img src="img/project_details.png" alt="#">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="philophy_text">
                        <h2>I help you to make digital art and illustration</h2>
                        <p>There winged grass midst moving earth seed herb fifth you multiply you divide cattle stars first cattle was had spirit you're thing, night darkness. Which itself stars creature.</p>
                        <ul>
                            <li><a href="#">Web hero image</a></li>
                            <li><a href="#">Illustration for web</a></li>
                            <li><a href="#">Isomettric</a></li>
                            <li><a href="#">Flat illustration</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- philosophy part end -->

    <!-- related project part start -->
    <section class="related_project padding_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <h2>Related work</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_project_details">
                        <a href="img/port_1.png" class="grid-item img_gallery">
                            <img src="img/port_1.png" alt="">
                            <div class="portfolio_hover_text">
                                <i class="ti-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_project_details">
                        <a href="img/port_2.png" class="grid-item img_gallery">
                            <img src="img/port_2.png" alt="">
                            <div class="portfolio_hover_text">
                                <i class="ti-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_project_details">
                        <a href="img/port_3.png" class="grid-item img_gallery">
                            <img src="img/port_3.png" alt="">
                            <div class="portfolio_hover_text">
                                <i class="ti-plus"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- related project part end -->

     <!-- footer css start -->
     <footer class="footer_Part padding_top">
         <div class="container">
             <div class="row alingn-item-center">
                 <div class="col-lg-6">
                     <div class="footer_text">
                         <span>Discuss your project now</span>
                         <h2>example@gilb.com </h2>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="footer_btn">
                         <a href="#" class="btn_1">Download CV</a>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="footer_menu">
                         <a href="#">About</a>
                         <a href="#">WORK</a>
                         <a href="#">Contact</a>
                     </div>
                 </div>
                 <div class="col-lg-6">
                    <div class="social_icon">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                        <a href="#"><i class="fas fa-globe"></i></a>
                    </div>
                 </div>
                 <div class="col-lg-12">
                        <div class="copyright_part text-center">
                            <p class="footer-text m-0">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                 </div>
             </div>
         </div>
     </footer>
     <!-- footer css end -->

    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- masonry js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>

    <script src="js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
</body>

</html>